---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxes/grammaticalFeatures=singular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Key:
      - 2f6353f6f77c9bb8e258c25a5a0dfa9d
      App-Id:
      - 7f6e07af
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "foxes",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Verb",
                            "text": "foxes"
                        }
                    ],
                    "word": "foxes"
                }
            ]
        }
  recorded_at: Wed, 12 Sep 2018 15:54:48 GMT
recorded_with: VCR 4.0.0
